body{
  overflow-x: hidden;
}
.accordian{
  margin-top: 200px!important;
}
.background {
  background-color: #072951;
}
.hrLine{
  background: "#e66f00";
   height:"5px";
   width:"6%";
   border: "none";
   margin-left: "46%"
}
.navigation-menu {
  background-color: #072951;
}